# Editor files
*~
*.sw[op]

# gb-compiled binaries
bin
pkg
*.zip

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# created during build
go.sum

version.go
assets.go
embeddedassets.go
meters/measurement_string.go
internal/meters/measurement_string.go

.vscode/
release/
vendor/
dist/
sdm
manifest.json
linux-*.Dockerfile
mbmd
mbmd.yaml
