body {
  padding-top: 5rem;
}
.mainsection {
  padding: 3rem 1.5rem;
}
.metertable {
  padding: 3rem 1.5rem;
  text-align: left;
}
/* omit first th/td per row */
.metertable th + th, .metertable td + td {
  text-align: right;
}
