body {
  padding-top: 5rem;
}
@media (min-width: 576px) {
  .container > div {
    padding: 3rem 1.5rem;
  }
}
.metertable {
  padding: 3rem 1.5rem;
  text-align: left;
}
/* omit first th/td per row */
.metertable th + th, .metertable td + td {
  text-align: right;
}
