<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>MBMD</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/app.css" rel="stylesheet">

	<!-- CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/fontawesome.min.css" rel="stylesheet">

	<!-- Bootstrap -->
	<script src="js/jquery-3.4.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

	<!-- VueJS -->
  <script src="js/vue.min.js"></script>
  <script src="js/d3-format.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">MBMD</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
			aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#realtime">Realtime
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#status">Status</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
			</ul>
		</div>
	</nav>

	<script type="text/x-template" id="data-row">
		<tr class="d-flex">
			<td class="col-3">${title}${data}${dump}</td>
			<td class="col-2" v-if="typeof data._1 !== 'undefined'">${data}</td>
			<td class="col-2" v-else>&mdash;</td>
			<td class="col-2" v-if="typeof data._2 !== 'undefined'">${data}</td>
			<td class="col-2" v-else>&mdash;</td>
			<td class="col-2" v-if="typeof data._3 !== 'undefined'">${data}</td>
			<td class="col-2" v-else>&mdash;</td>
			<td class="col-3" v-if="data.total">${data.total}</td>
			<td class="col-3" v-else-if="sum">${fmt(valsum)}</td>
			<td class="col-3" v-else>&mdash;</td>
		</tr>
	</script>

	<div class="container">
		<div id="realtime">
			<h1>Measurements</h1>
			<p>${message}</p>

			<table class="metertable table table-striped" v-for="(m, name, idx) in sorted(meters)">
				<thead class="thead-dark">
					<tr class="d-flex">
						<th class="col-3">
							<a href="#" class="text-white">
								${name}
								${m.Export}
								<i class="fas fa-chevron-up mx-2" data-toggle="collapse" v-bind:data-target="'#data-'+idx"></i>
								<i class="fas fa-chevron-down mx-2" data-toggle="collapse" v-bind:data-target="'#data-'+idx"></i>
							</a>
						</th>
						<th class="col-2">L1</th>
						<th class="col-2">L2</th>
						<th class="col-2">L3</th>
						<th class="col-3">Total</th>
					</tr>
				</thead>
				<tbody class="collapse show" v-bind:id="'data-'+idx">
					<!-- strings -->
					<tr is="row" v-bind:data="m.DCVoltage" title="DC Voltage (V)"></tr>
					<tr is="row" v-bind:data="m.DCCurrent" title="DC Current (A)"></tr>
					<tr is="row" v-bind:data="m.DCPower" title="DC Power (W)"></tr>

					<!-- battery -->
					<tr is="row" v-bind:data="m.ChargeState" title="Charge State (%)"></tr>
					<tr is="row" v-bind:data="m.BatteryVoltage" title="Battery Voltage (V)"></tr>

					<!-- meter actuals -->
					<tr is="row" v-bind:data="m.Voltage" title="Voltage (V)"></tr>
					<tr is="row" v-bind:data="m.Current" title="Current (A)"></tr>
					<tr is="row" v-bind:data="m.Power" title="Power (W)" sum></tr>
					<tr is="row" v-bind:data="m.ReactivePower" title="Reactive Power (var)" sum></tr>
					<tr is="row" v-bind:data="m.ApparentPower" title="Apparent Power (VA)" sum></tr>
					<tr is="row" v-bind:data="m.ImportPower" title="Import Power (W)" sum></tr>
					<tr is="row" v-bind:data="m.ExportPower" title="Export Power (W)" sum></tr>

					<!-- meter energy -->
					<tr is="row" v-bind:data="m.Sum" title="Sum (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.SumT1" title="Tariff 1 Sum (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.SumT2" title="Tariff 2 Sum (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.Import" title="Import (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.ImportT1" title="Tariff 1 Import (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.ImportT2" title="Tariff 2 Import (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.Export" title="Export (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.ExportT1" title="Tariff 1 Export (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.ExportT2" title="Tariff 2 Export (kWh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveSum" title="Reactive Sum (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveSumT1" title="Tariff 1 Reactive Sum (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveSumT2" title="Tariff 2 Reactive Sum (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveImport" title="Reactive Import (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveImportT1" title="Tariff 1 Reactive Import (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveImportT2" title="Tariff 2 Reactive Import (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveExport" title="Reactive Export (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveExportT1" title="Tariff 1 Reactive Export (kvarh)" sum></tr>
					<tr is="row" v-bind:data="m.ReactiveExportT2" title="Tariff 2 Reactive Export (kvarh)" sum></tr>

					<!-- quality -->
					<tr is="row" v-bind:data="m.HeatsinkTemp" title="Heatsink Temperature (°C)"></tr>
					<tr is="row" v-bind:data="m.Cosphi" title="Power Factor (cos 𝜑)"></tr>
					<tr is="row" v-bind:data="m.THD" title="THD Voltage (%)"></tr>
					<tr is="row" v-bind:data="m.Frequency" title="Frequency (Hz)"></tr>
				</tbody>
			</table>
		</div>

		<div id="status">
			<h1>Status</h1>
			<table class="metertable table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Meter</th>
						<th>Type</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(m, idx) in sorted(meters)">
						<td>${idx}</td>
						<td>${m.Type}</td>
						<td>${m.Status}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="about">
			<h1>About MBMD</h1>
			<p>MBMD collects measurements from modbus devices.
				It works with meters like the Eastron SDM630 as well as grid inverters like SMA Sunny Boy.<br/>
				Please <a href="https://github.com/volkszaehler/mbmd">refer to the documentation
				</a> for more information.</p>
			<p>This installation runs MBMD version {{.SoftwareVersion}} (compiled with {{.GolangVersion}})</p>
		</div>
	</div>
	<!-- /.container -->

	<script src="js/app.js?{{.Tag}}"></script>
</body>

</html>
