<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>GoSDM630</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/app.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">GoSDM630</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
		 aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#realtime">Realtime
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#status">Status</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
			</ul>
			<span id="time" class="navbar-text">
				${ date } ${ time }
			</span>
		</div>
	</nav>

	<div class="container">
		<div id="realtime">
			<h1>Realtime measurements</h1>
			<div id="meters">
				<p>${ message }</p>
				<table class="metertable table table-striped" v-for="(meter, idx) in meters">
					<thead class="thead-dark">
						<tr class="d-flex">
							<th class="col-3">Meter ${ idx }</th>
							<th class="col-2">L1</th>
							<th class="col-2">L2</th>
							<th class="col-2">L3</th>
							<th class="col-3">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr class="d-flex" v-if="populated(meter.DCVoltage)">
							<td class="col-3">DC Voltage (V)</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-3">${ val(meter.DCVoltage).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.DCCurrent)">
							<td class="col-3">DC Current (A)</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-3">${ val(meter.DCCurrent).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.DCPower)">
							<td class="col-3">DC Power (W)</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-3">${ val(meter.DCPower).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.VoltageL1, meter.VoltageL2, meter.VoltageL3, meter.Voltage)">
							<td class="col-3">Voltage (V)</td>
							<td class="col-2">${ meter.VoltageL1 }</td>
							<td class="col-2">${ meter.VoltageL2 }</td>
							<td class="col-2">${ meter.VoltageL3 }</td>
							<td class="col-3">${ val(meter.Voltage).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.CurrentL1, meter.CurrentL2, meter.CurrentL3, meter.Current)">
							<td class="col-3">Current (A)</td>
							<td class="col-2">${ meter.CurrentL1 }</td>
							<td class="col-2">${ meter.CurrentL2 }</td>
							<td class="col-2">${ meter.CurrentL3 }</td>
							<td class="col-3">${ (val(meter.Current) || (val(meter.CurrentL1) + val(meter.CurrentL2) + val(meter.CurrentL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.PowerL1, meter.PowerL2, meter.PowerL3, meter.Power)">
							<td class="col-3">Power (W)</td>
							<td class="col-2">${ meter.PowerL1 }</td>
							<td class="col-2">${ meter.PowerL2 }</td>
							<td class="col-2">${ meter.PowerL3 }</td>
							<td class="col-3">${ (val(meter.Power) || (val(meter.PowerL1) + val(meter.PowerL2) + val(meter.PowerL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.ActivePowerL1, meter.ActivePowerL2, meter.ActivePowerL3, meter.ActivePower)">
							<td class="col-3">Active Power (W)</td>
							<td class="col-2">${ meter.ActivePowerL1 }</td>
							<td class="col-2">${ meter.ActivePowerL2 }</td>
							<td class="col-2">${ meter.ActivePowerL3 }</td>
							<td class="col-3">${ (val(meter.ActivePower) || (val(meter.ActivePowerL1) + val(meter.ActivePowerL2) +
								val(meter.ActivePowerL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.ReactivePowerL1, meter.ReactivePowerL2, meter.ReactivePowerL3, meter.ReactivePower)">
							<td class="col-3">Reactive Power (W)</td>
							<td class="col-2">${ meter.ReactivePowerL1 }</td>
							<td class="col-2">${ meter.ReactivePowerL2 }</td>
							<td class="col-2">${ meter.ReactivePowerL3 }</td>
							<td class="col-3">${ (val(meter.ReactivePower) || (val(meter.ReactivePowerL1) + val(meter.ReactivePowerL2) +
								val(meter.ReactivePowerL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.ImportPowerL1, meter.ImportPowerL2, meter.ImportPowerL3, meter.ImportPower)">
							<td class="col-3">Import Power (W)</td>
							<td class="col-2">${ meter.ImportPowerL1 }</td>
							<td class="col-2">${ meter.ImportPowerL2 }</td>
							<td class="col-2">${ meter.ImportPowerL3 }</td>
							<td class="col-3">${ (val(meter.ImportPower) || (val(meter.ImportPowerL1) + val(meter.ImportPowerL2) + val(meter.ImportPowerL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.ExportPowerL1, meter.ExportPowerL2, meter.ExportPowerL3, meter.ExportPower)">
							<td class="col-3">Export Power (W)</td>
							<td class="col-2">${ meter.ExportPowerL1 }</td>
							<td class="col-2">${ meter.ExportPowerL2 }</td>
							<td class="col-2">${ meter.ExportPowerL3 }</td>
							<td class="col-3">${ (val(meter.ExportPower) || (val(meter.ExportPowerL1) + val(meter.ExportPowerL2) + val(meter.ExportPowerL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.ImportL1, meter.ImportL2, meter.ImportL3, meter.Import)">
							<td class="col-3">Import (kWh)</td>
							<td class="col-2">${ meter.ImportL1 }</td>
							<td class="col-2">${ meter.ImportL2 }</td>
							<td class="col-2">${ meter.ImportL3 }</td>
							<td class="col-3">${ (val(meter.Import) || (val(meter.ImportL1) + val(meter.ImportL2) + val(meter.ImportL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.ExportL1, meter.ExportL2, meter.ExportL3, meter.Export)">
							<td class="col-3">Export (kWh)</td>
							<td class="col-2">${ meter.ExportL1 }</td>
							<td class="col-2">${ meter.ExportL2 }</td>
							<td class="col-2">${ meter.ExportL3 }</td>
							<td class="col-3">${ (val(meter.Export) || (val(meter.ExportL1) + val(meter.ExportL2) +
								val(meter.ExportL3))).toFixed(2) }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.CosphiL1, meter.CosphiL2, meter.CosphiL3, meter.Cosphi)">
							<td class="col-3">Power Factor (cos 𝜑)</td>
							<td class="col-2">${ meter.CosphiL1 }</td>
							<td class="col-2">${ meter.CosphiL2 }</td>
							<td class="col-2">${ meter.CosphiL3 }</td>
							<td class="col-3">${ meter.Cosphi }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.THDL1, meter.THDL2, meter.THDL3, meter.THD)">
							<td class="col-3">THD Voltage (%)</td>
							<td class="col-2">${ meter.THDL1 }</td>
							<td class="col-2">${ meter.THDL2 }</td>
							<td class="col-2">${ meter.THDL3 }</td>
							<td class="col-3">${ meter.THD }</td>
						</tr>
						<tr class="d-flex" v-if="populated(meter.Frequency)">
							<td class="col-3">Frequency (Hz)</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-2">&mdash;</td>
							<td class="col-3">${ meter.Frequency }</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="status">
			<h1>Current Meter Status</h1>
			<div id="status">
				<table class="metertable table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Meter ID</th>
							<th>Type</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(meter, idx) in meterstatus">
							<td>${ meter.Id }</td>
							<td>${ meter.Type }</td>
							<td>${ meter.Status }</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="about">
			<h1>About GoSDM630</h1>
			<p>GoSDM630 is an interface for the Eastron SDM/Modbus Smart Meter series. Please
				<a href="https://github.com/gonium/gosdm630">refer to the documentation
				</a> for more information.</p>
			<p>This installation runs GoSDM630 version {{.SoftwareVersion}} (compiled with {{.GolangVersion}})</p>
		</div>
	</div>
	<!-- /.container -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/d3-format.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
